//===================================================
//Mixins
//===================================================

  //Media Queries
  @mixin mq($break) {
    @if $break == "medium" {
      @media (min-width: $break-md) and (max-width: $break-ml) {
        @content;
      }
    }

    @else if $break == "large" {
      @media (min-width: $break-lg) {
        @content;
      }
    }
  }

  //Flex box
  @mixin flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  @mixin flex-grow($int: 1) {
    -webkit-box-flex: $int;
    -moz-box-flex: $int;
    -webkit-flex-grow: $int;
    -ms-flex: $int;
    flex-grow: $int;
  }
