//===================================================
//Color Variables
//===================================================

  //Base font color
  $main-font-color: #808080;

  //navigation colors
  $nav-hover-color: #58E1C1;
  $nav-link-hover-color: #fff;

  //typography colors
  $headline-primary-color: #57E1C1;
  $link-color: #54DEFC;
  $link-hover-color: #47BDD6;
  $blockquote-color: #57E1C1;

  //form colors
  $form-input-color: #58E1C1;

  //button colors
  $btn-default-color: #51DDFC;
  $btn-success-color: #63CC82;
  $btn-error-color: #E4757A;
  $btn-warning-color: #FD7755;
  $btn-info-color: #927BC1;
  $btn-font-color: #fff;

  //grid colors
  $grid-col-3-color: #DEB2EE;
  $grid-col-4-color: #7DE6FD;
  $grid-col-5-color: #88D9A0;
  $grid-col-6-color: #3FABCA;
  $grid-col-7-color: #EC9EA3;
  $grid-col-8-color: #FD9F85;
  $grid-col-12-color: #80E8D1;
  $grid-font-color: #808080;

//===================================================
//Font Variables
//===================================================

  //Main body fonts
  $main-body-fonts: 'Roboto', sans-serif;

//===================================================
//Breakpoints
//===================================================

  $break-md: 769px;
  $break-ml: 1399px;
  $break-lg: 1400px;
