//===================================================
//Navigation Styles
//===================================================

.nav__item {
  text-align: center;
  height: 50px;

  @include mq(medium) {
      margin-left: 20px;
      margin-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
  }


  @include mq(large) {
    margin-left: 20px;
    width: 100px;
  }
}

.nav__item:hover {
  background-color: $nav-hover-color;
  display: block;
  border-radius: 5px;
}

a:hover {
  color: $nav-link-hover-color;
}
@include mq(medium) {
  .nav {
    display: flex;
  }
}
@include mq(large) {
  .nav {
    @include flexbox;
    margin-top: 36px;
  }

  li:first-child {
    margin-right: 20px;
  }
}
